/*Labels for checkboxes (not main label)*/
.form-group [data-type="checkbox"] label:not(.main){
	font-weight: normal;
}
/*Labels for radio (not main label)*/
.form-group [data-type="radio"] label:not(.main){
	font-weight: normal;
}

#form-elements{
	width: 104%;
	float: left;
}
#form-elements li{
 	background: #eeeeee;
    float: left;
    list-style: outside none none;
    margin-bottom: 10px;
    padding: 10px 5px;
    border-radius: 2px;
    text-align: center;
    
    min-height: 68px;
    width: 46.977777%;
    margin-right: 5px;
    position: relative;
}
#form-elements li:hover{
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.35);
}



/*Dragging styles*/
.drag-me{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}


/*Floating options/actions*/
.floating-options{
    opacity: 0;
    position: absolute;
    right: 5px;
}
.xform_field:hover > .floating-options{
	opacity: 1;
}
.xform_inner:hover{
	outline: 1px dashed #7DF780;
	background: rgba(125,247,128,.5);
	outline-offset: 2px;
}




/*Estilos del editor de elementos*/
.edit-field{
	margin-bottom: 10px;
}
.edit-field label{
	font-size: 1em;
}
.edit-field input[type="text"], .edit-field textarea,.edit-field select{
	width: 100%;
	padding: 5px;
	font-size: 12px;
	border:1px solid #ddd;
}
.edit-field textarea{
	min-height: 100px;
}








/*================================================
┬─┐┌─┐┌─┐┌─┐┌─┐┌┐┌┌─┐┬┬  ┬┌─┐  ┌─┐┌┬┐┬ ┬┬  ┌─┐┌─┐
├┬┘├┤ └─┐├─┘│ ││││└─┐│└┐┌┘├┤   └─┐ │ └┬┘│  ├┤ └─┐
┴└─└─┘└─┘┴  └─┘┘└┘└─┘┴ └┘ └─┘  └─┘ ┴  ┴ ┴─┘└─┘└─┘
==================================================*/
/* Portrait Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* Landspace Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { 
	
}

/* Portrait Mobile */
@media only screen and (max-width: 767px) {
	
}

/* Landscape Mobile */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}